# This CODEOWNERS file includes a primary codeowner and a deputy for each section.
# Codeowners who are not in a comment will be automatically notified of changes
# to the listed files. All codeowners listed are valid points of contact
# for discussing changes and seeking approval for work.

# Applications
**/adjoint_tests             @DrTVockerodtMO                     # @mo-joshuacolclough
**/gravity_wave              @thomasmelvin                       # @cjohnson-pi
**/gungho_model              @thomasmelvin                       # @BShipway
**/jedi_lfric_tests          @ss421  @matthewrmshin @MetOffice/r2o-systems
**/jules                     @iboutle                            # @MetOfficessdtesam
**/lfric2lfric               @mo-lottieturner                    # @mike-hobson
**/lfric_atm                 @iboutle                            # @BShipway
**/lfricinputs               @mo-lottieturner                    # @mike-hobson
**/linear_model              @cjohnson-pi @MetOffice/r2o-systems  # @tommbendall  # Also notifiy jedi team about linear changes.
**/name_transport            @jameskent-metoffice                # @tommbendall
**/ngarch                    @christophermaynard                 # @jcsmeto
**/shallow_water             @jameskent-metoffice                # @atb1995
**/solver                    @christophermaynard                 # @thomasmelvin
**/transport                 @tommbendall                        # @jameskent-metoffice

# Rose-Stem - those that don't have an applications area of the same name
**/lfric2um                  @mo-lottieturner                    # @mike-hobson
**/scintelapi                @mo-lottieturner                    # @mike-hobson
**/um2lfric                  @mo-lottieturner                    # @mike-hobson

# Science
**/adjoint                              @DrTVockerodtMO                     # @mo-joshuacolclough
**/linear                               @cjohnson-pi  @MetOffice/r2o-systems # @tommbendall # Also notifiy jedi team about linear changes.
science/shared/source/constants/        @iboutle                            # @BShipway
science/shared/source/utilities/lfric_apps_version_mod_test.pf    @MetOffice/ssdteam

**/gungho                               @thomasmelvin                       # @iboutle
science/gungho/**/configuration/        @jameskent-metoffice                # @thomasmelvin
science/gungho/**/core_dynamics/        @jameskent-metoffice                # @thomasmelvin
science/gungho/**/diagnostics/          @atb1995                            # @iboutle
science/gungho/**/diffusion/            @iboutle                            # @tommbendall
science/gungho/**/driver/               @MetOffice/core-capability-development
science/gungho/**/external_forcing/     @iboutle                            # @tommbendall
science/gungho/**/initialisation/       @mo-cjsmith                         # @thomasmelvin
science/gungho/**/limited_area/         @cjohnson-pi                        # @thomasmelvin
science/gungho/**/orography/            @atb1995                            # @tommbendall
science/gungho/**/physics/              @iboutle                            # @tommbendall
science/gungho/**/psy/                  @thomasmelvin                       # @tommbendall
science/gungho/**/runtime_constants/    @tommbendall                        # @atb1995
science/gungho/**/solver/               @thomasmelvin                       # @tommbendall
science/gungho/**/timestepping/         @thomasmelvin                       # @jameskent-metoffice
science/gungho/**/transport/            @tommbendall                        # @jameskent-metoffice

**/physics_schemes                                      @iboutle            # @MetOffice/ssdteam
science/physics_schemes/**/boundary_layer               @Adrian-Lock        # @P-Burns
science/physics_schemes/**/convection                   @MichaelWhitall
science/physics_schemes/**/convection/comorph           @MichaelWhitall
science/physics_schemes/**/large_scale_cloud            @paul-barrett       # @CyrilMorcrette
science/physics_schemes/**/large_scale_precipitation    @paulfield2024      # @paul-barrett
science/physics_schemes/**/radiation_control            @mo-jmanners        # @Petzi1
science/physics_schemes/**/stochastic_physics           @wjtmo              # @annemccabe

# Interfaces
**/coupled_interface            @mike-hobson                        # @harry-shepherd
**/jedi_lfric_interface         @ss421  @matthewrmshin @MetOffice/r2o-systems
**/jules_interface              @iboutle                            # @MetOfficessdteam
**/jules_interface/rose-meta    @maggiehendry
**/physics_schemes_interface    @iboutle                            # @MetOfficessdteam
**/socrates_interface           @mo-jmanners                        # @Petzi1

# System Components
rose-stem/templates/                   @james-bruten-mo                    # @jennyhickson
rose-stem/lib/                         @james-bruten-mo                    # @jennyhickson
rose-stem/bin/                         @james-bruten-mo                    # @jennyhickson
rose-stem/site/meto/common/            @james-bruten-mo                    # @jennyhickson
rose-stem/site/meto/groups.cylc        @james-bruten-mo                    # @jennyhickson
rose-stem/site/meto/macros/            @james-bruten-mo                    # @jennyhickson
rose-stem/site/meto/suite_config.cylc  @james-bruten-mo                    # @jennyhickson
rose-stem/site/meto/variables.cylc     @james-bruten-mo                    # @jennyhickson
rose-stem/site/azngarch                @james-bruten-mo                    # @jennyhickson
rose-stem/site/esnz                    @tinyendian @JorgeBornemann
rose-stem/site/ncas                    @SimonWNCAS
rose-stem/site/nci                     @davelee2804
rose-stem/app                          # Mostly updated by macros, no codeowner
**/rose-meta/**/version*.py            @james-bruten-mo                    # @jennyhickson
build/                                 @MetOffice/ssdteam @hiker
interfaces/build/                      @christophermaynard
**/*Makefile                           @MatthewHambley @hiker
**/*.mk                                @MatthewHambley @hiker
**/optimisation                        @christophermaynard                 # HPC Optimisation Team

# Rose Stem Application Settings
rose-stem/site/common/adjoint*/            @DrTVockerodtMO @james-bruten-mo @tinyendian @JorgeBornemann @SimonWNCAS @davelee2804  # @jennyhickson
rose-stem/site/common/gravity_wave/        @thomasmelvin @james-bruten-mo @tinyendian @JorgeBornemann @SimonWNCAS @davelee2804  # @jennyhickson
rose-stem/site/common/gungho*/             @thomasmelvin @james-bruten-mo @tinyendian @JorgeBornemann @SimonWNCAS @davelee2804  # @jennyhickson
rose-stem/site/common/jedi*/               @ss421 @james-bruten-mo @tinyendian @JorgeBornemann @SimonWNCAS @davelee2804  # @jennyhickson
rose-stem/site/common/jules/               @iboutle @james-bruten-mo @tinyendian @JorgeBornemann @SimonWNCAS @davelee2804  # @jennyhickson
rose-stem/site/common/lfric2lfric/         @mo-lottieturner @james-bruten-mo @tinyendian @JorgeBornemann @SimonWNCAS @davelee2804  # @jennyhickson
rose-stem/site/common/lfric_atm/           @iboutle @james-bruten-mo @tinyendian @JorgeBornemann @SimonWNCAS @davelee2804  # @jennyhickson
rose-stem/site/common/lfricinputs/         @mo-lottieturner @james-bruten-mo @tinyendian @JorgeBornemann @SimonWNCAS @davelee2804  # @jennyhickson
rose-stem/site/common/linear*/             @cjohnson-pi @james-bruten-mo @tinyendian @JorgeBornemann @SimonWNCAS @davelee2804  # @jennyhickson
rose-stem/site/common/name_transport/      @jameskent-metoffice @james-bruten-mo @tinyendian @JorgeBornemann @SimonWNCAS @davelee2804  # @jennyhickson
rose-stem/site/common/ngarch/              @christophermaynard @james-bruten-mo @tinyendian @JorgeBornemann @SimonWNCAS @davelee2804  # @jennyhickson
rose-stem/site/common/shallow_water/       @jameskent-metoffice @james-bruten-mo @tinyendian @JorgeBornemann @SimonWNCAS @davelee2804  # @jennyhickson
rose-stem/site/common/solver/              @christophermaynard @james-bruten-mo @tinyendian @JorgeBornemann @SimonWNCAS @davelee2804  # @jennyhickson
rose-stem/site/common/transport/           @tommbendall @james-bruten-mo @tinyendian @JorgeBornemann @SimonWNCAS @davelee2804  # @jennyhickson

# Other areas
documentation                           # @MetOffice/ssdteam
.github/                                @MetOffice/ssdteam
LICENSE                                 @yaswant
README.md                               @MetOffice/ssdteam

# Owners of specific documentation sections
documentation/source/science_guide/cloud_schemes             @paul-barrett
documentation/source/science_guide/turbulence_schemes        @Adrian-Lock
