# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Sphinx
documentation/build

# Jetbrains
.idea

# vscode
.vscode

# uv
uv.lock

#  vi/vim
*~
*.swp
*.swo

# Emacs backup files
.#*
\#*#

# Python
__pycache__
*.pyc
.pytest_cache

# LFRic CL Builds
applications/**/bin
applications/**/documents
applications/**/working
applications/**/test
applications/**/example*/
science/**/bin
science/**/documents
science/**/working
science/**/test
interfaces/**/bin
interfaces/**/documents
interfaces/**/working
interfaces/**/test
